*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

header{
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 960px;
    background: linear-gradient(#FAEACA, #EFCFA4);
    margin: 0 auto;
    /* height: 44px; */
    border-radius: 99px;
    padding: 5px;
    box-shadow: 0 4px 4px #000000;
}

nav{
    margin-left: 20px;
}
header nav ul li{
    color: #4A3211;
    font-size: 16px;
    transition: .3 ease-in-out;
    cursor: pointer;

}
header nav ul li:hover{
    color: #A9895D;
}

header nav ul{
    display: flex;
}

span.separator{
    margin: 0 20px;
    width: 1px;
    height: 18px;
    background-color: #EDCEA3;
}

button{
    padding: 0 20px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#9BB6B3, #5F888A);
    border: none;
    border-radius: 99px;


}

.header-cta span{
    color: #D6F2EC;
    font-size: 16px;

}

.header-cta-icon{
    margin-left: 11px;

}

section.hero{
    overflow: hidden;
    background: url("../");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.adventure-cards__container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.adventure-cards {
    height: 580px;
    display: flex;
    align-items: center;
    background-color: #131D24;
    padding: 40px 20px;
}

.adventure-card {
    height: 354px;
    min-width: 245px;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
}

.adventure-card__title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
}


.adventure-card__subtitle {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #79969C;
}

.adventure-card__description {
    font-size: 0.9rem;
    margin-bottom: 40px;
    color: #586061;
    line-height: 1.6;
}

.adventure-card__icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.adventure-card__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}


.arcane-academy-wrapper{
    min-height: 588px;
    background-image: url(./media/academy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-size: 36px;
    color: #EEF4F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.arcane-button-wrapper{
    display: flex;
    width: 273px;
    height: 34px;
    overflow: hidden;
    box-shadow: 0 4px 8px #000000cc;
    /* border-radius: 99px; */
}

.arcane-academy-cta{
    width: 50%;
    border: none;
    font-size: 12px;
    padding: 0;
}

.arcane-academy-cta:first-child{
    border-radius: 99px 0 0 99px;
    background: linear-gradient(#FAEACA, #EFCFA4);
    color:  #4A3211;
}
.arcane-academy-cta:last-child{
    border-radius: 0 99px 99px 0;
    background: linear-gradient(#9BB6B3, #5F888A);
    color: #D6F2EC;
}

/* .character-box{
    background-color: #131D24;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

} */

.character-box{
    background-color: #131D24;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 120px; */
}

.magician{
    width: 480px;
    height: 396px;
    border-radius: 30px;
    border: 3px solid #EFCFA4;
    transform: -180°;
   
}

.magician-container{
    /* background-color: #131D24; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 40px 20px;
    gap: 120px;

   
}

.character-text {
    display: flex;
flex-direction: column;    
justify-content: center;
    /* align-items: center; */
    width: 303px;
    height:299px;

}

.character-title {
    display: flex;
    justify-content: center;
    color :#EEF4F8;
    font-size: 24px;
}

.character-description {
    color: #EEF4F8;
    font-size: 12px;
}



.footer{
    display: flex;
    background: linear-gradient(#FAEACA, #EFCFA4);
    height: 320px;
    justify-content:space-between;
}


.contact-list {
    display: flex;
    flex-direction: column;
    
}

.link-list {
    display: flex;
    flex-direction: column;
}

.contact-list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    max-width: 1200px;
    margin: 100px;
    
}



.contact-list {
    display: flex;
    height: 150px;
    width: 320px;
    line-height: 2;
}

.link-list {
    display: flex;
    height: 150px;
    width: 305px;
    line-height: 2; 
    

}

.footer-icon {
    padding: 70px;
}

.contact-title {
    color: #4A3211;
    font-size: 24px;
}

.footer-info {
    color: #4A3211;
    font-size: 12px;
}
  


.main-footer {
    background-color: #131D24;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    gap: 30px;
    
}

.privacy {
    color: #EEF4F8; 
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px; 
    gap: 30px;
}

.copy {
    color:#EEF4F8;
    font-size: 12px;
    margin: 30px;
}